/* ============================================================
   5-COMPONENTS / _LOGO.SCSS
   Batura Library | Pure Static Logo Shell
   ============================================================ */

.b-logo {
  display: inline-flex;
  
  /* 
     Логотип по умолчанию берет высоту того места, куда ты его положишь.
     Если это навбар — он будет высотой с навбар. 
     Если это пустой div — задай высоту родителю.
  */
  height: 100%; 
  
  svg {
    height: 100%;
    width: auto;
    display: block;
  }
}